@{
    ViewData["Title"]=Model.Name;
}
@model CabbieViewModel

<div class="container">
    <form asp-controller="Cabbie" asp-action="CabbieView" method="POST">
        <div class="form-group">
            
            <label asp-for="Name"></label>
            <input asp-for="Name" type=text value="@Model.Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" type=text value="@Model.Description" class="form-control"/>
        
        </div>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">Foodz Name</th>
                    <th scope="col">Foodz Description</th>
                    <th scope="col">Qty in Cab</th>
                    <th scope="col"></th>
                </tr>
            </thead>
           <tbody>
                @for(var i=0; i < Model.FoodzInCabbie.Count; i++)
                {
                    var num = i + 1;
                    <tr>
                        <th scope="row">@num</th>
                        <td>@Model.FoodzInCabbie[i].Food.Name</td>
                        <td>@Model.FoodzInCabbie[i].Food.Description</td>
                        <td>@Model.FoodzInCabbie[i].Qty</td>
                        <td>
                        <!--TODO: Figure out how to increment/decrement the count -->
                            <a class="btn btn-outline-primary btn-sm" href="#">
                                <i class="fas fa-plus"></i>
                            </a>
                            <a class="btn btn-outline-warning btn-sm" href="#">
                                <i class="fas fa-minus"></i>
                            </a>
                        </td>
                    </tr>
                }

           </tbody>
        </table>
        </div>
    </form>
</div>
